# **Fish Species Prediction**

Identify the category of fish from 7 common different fish species.

Dataset : https://github.com/ybifoundation/Dataset/raw/main/Fish.csv

In [2]:
import pandas as pd

In [3]:
Fish = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [4]:
Fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [5]:
Fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [6]:
Fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [7]:
Fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [22]:
y = Fish['Category']
X = Fish[['Weight', 'Height', 'Width', 'Length1', 'Length2', 'Length3']]

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2529)

In [24]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((119, 6), (40, 6), (119,), (40,))

In [49]:
from sklearn.neighbors import KNeighborsClassifier
model1 = KNeighborsClassifier()

In [50]:
model1.fit(X_train, y_train)

KNeighborsClassifier()

In [51]:
y_pred = model1.predict(X_test)

In [52]:
from sklearn.metrics import accuracy_score, classification_report

In [53]:
accuracy_score(y_test, y_pred)

0.55

In [54]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.47      0.88      0.61         8
           2       0.00      0.00      0.00         1
           3       0.64      0.69      0.67        13
           4       0.00      0.00      0.00         5
           5       1.00      0.14      0.25         7
           6       1.00      1.00      1.00         5
           7       0.00      0.00      0.00         1

    accuracy                           0.55        40
   macro avg       0.44      0.39      0.36        40
weighted avg       0.60      0.55      0.51        40

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [56]:
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression(max_iter=50000)

In [57]:
model2.fit(X_train, y_train)

LogisticRegression(max_iter=50000)

In [58]:
y_pred = model2.predict(X_test)

In [60]:
from sklearn.metrics import accuracy_score, classification_report

In [62]:
accuracy_score(y_test, y_pred)

0.9

In [61]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.89      1.00      0.94         8
           2       1.00      1.00      1.00         1
           3       1.00      0.92      0.96        13
           4       0.83      1.00      0.91         5
           5       1.00      0.57      0.73         7
           6       1.00      1.00      1.00         5
           7       0.33      1.00      0.50         1

    accuracy                           0.90        40
   macro avg       0.87      0.93      0.86        40
weighted avg       0.94      0.90      0.90        40